[Unit]
Description=Carbon client/proxy which listens locally on server and buffers data
After=network.target

[Service]
User=grafsy
ExecStart=/usr/bin/grafsy
Type=simple
WatchdogSec=60
RestartSec=5
StartLimitInterval=10
StartLimitBurst=3
Restart=always

[Install]
WantedBy=multi-user.target
